*{
    -fx-font-family: Ubuntu;
}

#btnSelectFile, #btnSelectDir, #btnSelectDirectory{
    -fx-background-color: #00bbff;
    -fx-text-fill: white;
}

#btnCopy{
    -fx-background-color: #00bbff;
    -fx-text-fill: white;
}